/**
 * Base Styles (from original src/sass/components/_base.scss)
 */
body {
  font-size: 125%;
  margin: 20px;
  max-width: 42em;
  width: 88%;
}

input,
textarea,
select,
button {
  font: inherit;
}
